:root {
  --acc: #2b9df4;
}
* {
  font-family: "Jura", sans-serif;
  color: white;
}
h1 {
  font-family: "Orbitron", sans-serif;
}
.navbar {
  background-color: black;
  border-bottom: 4px solid gray;
  height: 10vh;
}
.logo {
  font-size: 30px;
}
.link {
  text-decoration: none;
  color: gray;
  font-size: 18px;
}
.sm-logo {
  font-size: 25px;
}
.sm-link {
  text-decoration: none;
  color: gray;
  font-size: 15px;
}
header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)
    ),
    url(./media/moon.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.fa-chevron-down {
  color: var(--acc);
  font-size: 50px;
  margin-top: 33vh;
}
#title {
  font-size: 80px;
}
.c-down {
  border-bottom: 4px solid var(--acc);
}
.number {
  font-size: 60px;
  font-family: "Orbitron", sans-serif;
}
main {
  padding-top: 200px;
}
