:root {
  --acc: #2b9df4;
}
* {
  font-family: "Jura", sans-serif;
  color: white;
}
h1 {
  font-family: "Orbitron", sans-serif;
}
.navbar {
  background-color: black;
  border-bottom: 4px solid gray;
  height: 10vh;
}
.logo {
  font-size: 30px;
}
.link {
  text-decoration: none;
  color: gray;
  font-size: 18px;
}
.sm-logo {
  font-size: 25px;
}
.sm-link {
  text-decoration: none;
  color: gray;
  font-size: 15px;
}
header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)
    ),
    url(./media/moon.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.fa-chevron-down {
  color: var(--acc);
  font-size: 50px;
  margin-top: 33vh;
}
#title {
  font-size: 80px;
}
.c-down {
  border-bottom: 4px solid var(--acc);
}
.number {
  font-size: 60px;
  font-family: "Orbitron", sans-serif;
}
main {
  padding-top: 200px;
}
#moon {
  background-image: url(./media/moon2.jpg);
  background-size: cover;
  background-position: 55%;
  height: 80vh;
}
.moon-p {
  font-size: 25px;
}
#moon-t {
  color: var(--acc);
}
.c-icon {
  color: var(--acc);
}
.sun-col {
  padding-top: 11rem;
  padding-bottom: 11rem;
}
@media screen and (max-width: 768px) {
  .sun-col {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.line {
  border: 1px solid var(--acc);
}
.card-p {
  font-size: 18px;
}
.m-titles {
  color: var(--acc);
}
.m-p {
  font-size: 21px;
  text-align: justify;
}
.row-height-bg {
  background-image: url(./media/missile-2027068_1280.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
}
.row-height {
  min-height: 100vh;
}
.c-titles {
  color: var(--acc);
}
.d-cards {
  font-size: 20px;
  text-align: justify;
  color: gray;
}
button {
  position: relative;
  align-self: end;
  --b: 5px; /* thickness of the border */
  --w: 12px; /* width of border */

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--acc) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0 / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 /
      var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% /
      var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);

  width: 150px;
  height: 50px;
}

footer {
  background: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 1)
    ),
    url(./media/sunrise-1765027_1920.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.f-title {
  color: var(--acc);
}
.f-type {
  font-size: 20px;
  text-align: justify;
}
.b-foot {
  bottom: 0;
  left: 25%;
  width: 50vw;
  height: 5px;
  background: linear-gradient(to right, black, var(--acc), black);
}
.last {
  background-color: black;
  height: 15vh;
}
